<header class="tf-header flex">

 <a href="/" class="tf-logo-package flex">
  <div class="tf-logo">
   <img src="/assets/images/watermark-svg.svg" alt="TechFusion Logo">
  </div>
  <div class="tf-logo-name">TechFusion</div>
 </a>

 <div id="tf-nav" class="tf-nav-links">
  <a href="#" class="tf-nav-link">
   About
   <span class="tf-nav-link-line tf-gradient"></span>
  </a>
  <a href="#" class="tf-nav-link">
   Portfolio
   <span class="tf-nav-link-line tf-gradient"></span>
  </a>
  <a href="#" class="tf-nav-link">
   Members
   <span class="tf-nav-link-line tf-gradient"></span>
  </a>
 </div>

 <a href="https://goo.gl/forms/kifpo7emeh7QCXEB3" target="_blank" class="tf-cta tf-gradient">
  <span class="tf-cta-bg"></span>
  <span class="tf-cta-text">REGISTER</span>
 </a>

</header>

<div class="tf-mob-nav">
 <a href="#mob-nav" id="tf-mob-nav" class="tf-mob-nav-fab flex tf-gradient">
  <span class="tf-mob-nav-trigger"></span>
 </a>
</div>
