<section>
<table class="updates">
    <tr>
        <td class="main"></td>
        <td class="main"><h4 class="head">UPDATES</h4></td>
        <td class="main"></td>
    </tr>
    <tr>
    <td class="date">18 Nov, 2017</td>
    <td class="texts">Code for Best'17</td>
        <td class="icon"><a class="iconx" href="#"><i class = "material-icons custom-icons ">launch</i></a></td>
    </tr>
    <tr>
    <td class="date">24 Oct, 2017</td>
    <td class="texts">TechFusion Club Registration Opens</td>
   <td class="icon"><a class="iconx" href="#"><i class = "material-icons custom-icons ">launch</i></a></td>
    <tr>
    <td class="date">10 Oct, 2017</td>
    <td class ="texts">TechFusion Club Formed</td>
   <td class="icon"><a class="iconx" href="#"><i class = "material-icons custom-icons ">launch</i></a></td>
   </tr>
    <tr>
    <td></td>
    <td class="slink"><a class ="more" href="#">more</a></td>
    <td></td>
    </tr>
       
</table>
    
</section>