<div  class="mainseccontainer">
<div class="mainsec-box">
<div class="mainsectexts">
    <span class="date"></span>
    <span class="texts">UPDATES</span>
</div>
</div>
<div class="mainsec-box">
<a href="#" class="mainsectext">
    <span class="date">10 Nov, 2017</span>
    <span class="text">Code For Best'17</span>
</a>
<a href="#" class="icon"><i class="material-icons custom-icons">launch</i></a>
</div>
<div class="mainsec-box">
<a href="#" class="mainsectext">
    <span class="date">24 Oct, 2017</span>
    <span class="text">TechFusion Club Registration Started</span>
</a>
<a href="#" class="icon"><i class="material-icons custom-icons">launch</i></a>
</div>

<div class="mainsec-box">
<a href="#" class="mainsectext">
    <span class="date">10 Oct, 2017</span>
    <span class="text">TechFusion Club Formed</span>
</a>
<a href="#" class="icon"><i class="material-icons custom-icons">launch</i></a>
 </div>
    <div class="mainsec-box">
<div class="mainsectexts">
    <span class="me" style="flex-basis :25%;"></span>
    <a href="#"   class="more">more</a>
    <span class="texts"></span>
</div>
</div>
</div>