.tf-footer{
  position: relative;
  text-align: center;
  padding: 3rem 0;
  margin: -1px 0 0 0;
  background-color: $bg-p;

  @media (min-width: 1720px){
    padding: 6rem 0;
  }

  @media (max-width: 900px){
    padding: 2rem 0;
  }

  .tf-footer-title{
    color: $fg-t;
    font-size: 1rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;

    @media (min-width: 1720px){
      font-size: 2rem;
      letter-spacing: 0.8rem;
    }
  }

  .tf-footer-social{
    margin: 3rem 0 0 0;
    text-align: center;

    @media (min-width: 1720px){
      margin: 6rem 0 0 0;
    }

    .tf-footer-link{
      position: relative;
      display: inline-block;
      width: 1.8rem;
      margin: 0 1rem;
      color: $fg-t;

      @media (min-width: 1720px){
        width: 3rem;
        margin: 0 2rem;
      }

      @media (max-width: 900px){
        width: 1.6rem;
      }
    }
  }

  .divider{
    width: 6rem;
    height: 4px;
    margin: 2rem auto 0 auto;
    background-color: $fg-t;
    border: 0;
    border-radius: 1px;
  }
}
