.tf-tabs{
 position: relative;
 background-color: $bg-s;

 @media (max-width: 900px){
  &::after{
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 140px;
   height: 100%;
   background: linear-gradient(90deg, transparent 10%, rgba(0,0,0,0.9) 100%);
   z-index: 14;
   pointer-events: none;
  }
 }

 .tf-tabs-links{
  position: relative;
  align-items: baseline;
  background-color: $bg-s;
  padding: 15px 0;
  margin: 0 auto;
  overflow: hidden;
  overflow-x: auto;

  @media (min-width: 1720px){
   padding: 24px;
  }

  .tf-tab-link{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: stretch;
   width: 100%;
   min-width: 170px;
   padding: 1.4rem 4px;
   margin: 0 1rem;
   text-align: center;
   color: $fg-s;
   border-radius: 6px;
   text-transform: uppercase;
   font-size: 1rem;
   font-weight: 600;
   letter-spacing: 1px;

   @media (min-width: 1720px){
    padding: 2.4rem 8px;
    font-size: 1.6rem;
    letter-spacing: 2px;
    border-radius: 8px;
   }

   @media (max-width: 900px){
    padding: 1.3rem 12px;
    font-size: 0.8rem;
   }

   &.tab-active{
    color: $fg-p;
   }
  }
 }
}
